/* Set the background color for the body */
/* styles.css */
.app{
  background: linear-gradient(
    to bottom,
    #FFFEF2 0%, /* White at the top */
    #FFFCD3 50%, /* Light color in the middle */
    #FEF9B8 100% /* Dark color at the bottom */
  );
  color: black;
}

/* Define styles for image with class .image-1 */
.header{
  height: 200px;
  width: 100%;
}
.image-1 {
  height: 150x;
  width: 120px;
}

/* Define styles for image with class .image-2 */
.image-2 {
  margin: 0;
  height: 100%;
  width: 100%;
}
.image-3{
  width: 80%;
  height: 350px;
  
}
/* Define styles for image with class .image-4 */
.image-4 {
  margin: 0;
  height: 90%;
  width: 90%;
  background-color: black; /* Background color of the box */
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
}
a{
  color: white;
}
/* Define styles for the container of body content */
.body-container {
  width: 100%; /* Set width to 100% */
  max-height: 800px; /* Set max height to 600 pixels */
}

/* Define styles for the container of the image within .body-container */
.body-container-image {
  max-height: 600px;
}

/* Define styles for the container of the description within .body-container */
.body-container-desc {
  max-height:700px;
}

/* Define styles for the header of the description within .body-container */
.desc-header {
  max-height: 100px;
}

/* Define styles for the image in the description within .body-container */
.desc-image {
  max-height: 400px;
}

/* Define styles for the footer of the description within .body-container */
.desc-footer {
  max-height: 100px;
}
.list{
  /* padding: 0; */
}
.list>li{
  margin-bottom: 0px;
}
.footer{
  height: 200px;
  width: 100%;
}
.footer-info{
  height: 50%;
  width: 100%;
}
.footer-conatct{
  height: 40%;
  width: 100%;
}
.tele,.face,.glob{
  height: 32px;
  width: 32px;
}
@media screen and (min-width:320px) and (max-width:567px) {
  .header{
    height: 100px;
    width: 100%;
  }
  .image-1 {
    height: 80x;
    width: 70px;
  }
  .header-info h2{
    font-size: 15px;
  }
  .header-info h5{
    font-size: 10px;
  }
  /* Define styles for image with class .image-2 */
  .body-container {
    width: 100%; /* Set width to 100% */
    max-height: 500px; /* Set max height to 600 pixels */
  }
  
  /* Define styles for the container of the image within .body-container */
  .body-container-image {
    max-height: 400px;
  }
  
  /* Define styles for the container of the description within .body-container */
  .body-container-desc {
    max-height:450px;
  }

  .image-2 {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .image-3{
    width: 80%;
    height: 150px;
    
  }
  /* Define styles for image with class .image-4 */
  .image-4 {
    margin: 0;
    height: 90%;
    width: 90%;
    background-color: black; /* Background color of the box */
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
  }
  a{
    color: white;
  }
  /* Define styles for the container of body content */
  
  /* Define styles for the header of the description within .body-container */
  .desc-header {
    max-height: 90px;
  }
  .desc-header h6{
    font-size: 9px;
  }
  /* Define styles for the image in the description within .body-container */
  .desc-image {
    max-height: 300px;
  }
  p{
    font-size: 8px;
  }
  .desc-list ul li{
    font-size: 8px;
  }
  /* Define styles for the footer of the description within .body-container */
  .desc-footer {
    max-height: 60px;
  }
  
  .list>li{
    margin-bottom: 0px;
  }
  .footer{
    height: 130px;
    width: 100%;
  }
  .footer-info{
    height: 50%;
    width: 100%;
  }
  .body-2 p{
    font-size: 7px;
  }
  .footer-conatct{
    height: 40%;
    width: 100%;
  }
  .footer-conatct a{
    font-size: 8px;
  }
  .footer-type .txt{
    font-size: 5px;
  }
  .tele,.face,.glob{
    height: 10px;
    width: 10px;
  }
  
}
@media screen and (min-width:567px) and (max-width:960px) {
  .header{
    height: 100px;
    width: 100%;
  }
  .image-1 {
    height: 80x;
    width: 70px;
  }
  .header-info h2{
    font-size: 20px;
  }
  .header-info h5{
    font-size: 15px;
  }
  /* Define styles for image with class .image-2 */
  .body-container {
    width: 100%; /* Set width to 100% */
    max-height: 700px; /* Set max height to 600 pixels */
  }
  
  /* Define styles for the container of the image within .body-container */
  .body-container-image {
    max-height: 500px;
  }
  
  /* Define styles for the container of the description within .body-container */
  .body-container-desc {
    max-height:550px;
  }

  .image-2 {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .image-3{
    width: 80%;
    height: 150px;
    
  }
  /* Define styles for image with class .image-4 */
  .image-4 {
    margin: 0;
    height: 90%;
    width: 90%;
    background-color: black; /* Background color of the box */
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    mix-blend-mode: multiply;
  }
  a{
    color: white;
  }
  /* Define styles for the container of body content */
  
  /* Define styles for the header of the description within .body-container */
  .desc-header {
    max-height: 120px;
  }
  .desc-header h6{
    font-size: 14px;
  }
  /* Define styles for the image in the description within .body-container */
  .desc-image {
    max-height: 350px;
  }
  p{
    font-size: 8px;
  }
  .desc-list ul li{
    font-size: 12px;
  }
  /* Define styles for the footer of the description within .body-container */
  .desc-footer {
    max-height: 80px;
  }
  
  .list>li{
    margin-bottom: 0px;
  }
  .footer{
    height: 170px;
    width: 100%;
  }
  .footer-info{
    height: 50%;
    width: 100%;
  }
  .body-2 p{
    font-size: 10px;
  }
  .footer-conatct{
    height: 40%;
    width: 100%;
  }
  .footer-conatct a{
    font-size: 10px;
  }
  .footer-type .txt{
    font-size: 8px;
  }
  .tele,.face,.glob{
    height: 15px;
    width: 15px;
  }
  
}
